<div class="my-4 mx-auto w-[400px]">
  <mat-card class="border-2 border-cyan-800 w-[400px]">
    <mat-card-header class="justify-center">
      <div mat-card-avatar class="icon-supplier"></div>
      <mat-card-title class=""> {{ supplier }} </mat-card-title>
      <mat-card-subtitle>Estado del proveedor: Activo</mat-card-subtitle>
    </mat-card-header>
    <mat-divider class="w-[90%] m-auto"></mat-divider>
    <mat-card-content class="">
      <ul>
        <li *ngFor="let product of nameOfProduct" class="my-[5px] list-none">
          {{ product }}
          <input
            type="text"
            placeholder="Cantidad..."
            class="ml-[50px] border-solid border-cyan-800 border-[1px] max-w-[100px] text-center rounded"
          />
        </li>
      </ul>
    </mat-card-content>
  </mat-card>
</div>
<div class="h-[10px]"></div>
