.product-card {
  max-width: 400px;
  border: solid;
  border-radius: 2%;
  text-align: center;
  margin: 50px auto;
}
.product-title {
  font-size: medium;
  color: black;
}

.title {
  margin-top: auto;
}

.product-description {
  margin-top: 10px;
  margin-bottom: 10px;
}
